@model Frontend.Models.AdminLoginCollection

<h2>Login</h2>

<form asp-action="Login" method="post">
    <div class="form-group">
        <label asp-for="AdminUsername"></label>
        <input asp-for="AdminUsername" class="form-control" type="text" />
        <span asp-validation-for="AdminUsername" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AdminPassword"></label>
        <input asp-for="AdminPassword" class="form-control" type="password" />
        <span asp-validation-for="AdminPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>